@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

.container {
    @apply mx-auto max-w-[70rem] w-full;
}

@layer components{
    .header__nav.open{
        @apply right-0;
    }
}

.toggle_menu.open span:first-child {
    transform: rotate(45deg) translate(3px, 2px);
}

.toggle_menu.open span:nth-child(2) {
    display: none;
}

.toggle_menu.open span:last-child {
    transform: rotate(-45deg) translate(3px, -2px);
}


